[Unit]
Description=DBGate Redis Explorer
After=postgresql dragonfly
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=postgres
ExecStart=/usr/local/bin/dbgate-serve

[Install]
WantedBy=multi-user.target